@{
    ViewBag.Title = "Contact Page";
}
<h2>@ViewBag.Title</h2>
<h3>For any queries please send your letters or emails to:</h3>

<address>
    Made up Address<br />
    Totally not a Road, BT123YZ<br />
    <abbr title="Phone">P:</abbr>
    07983512478
</address>

<address>
    <strong>Quieries:</strong>   <a href="mailto:mvcQuieries@gmail.com">MvcQuieries@gmail.com</a><br />
    <strong>Report a Bug:</strong> <a href="mailto:mvcBugs@gmail.com">MvcBugs@gmail.com</a>
</address>